absl-py==0.7.1
astor==0.8.0
astroid==2.2.5
attrs==19.1.0
backcall==0.1.0
bleach==1.5.0
cachetools==3.1.1
certifi==2019.6.16
chardet==3.0.4
Click==7.0
colorama==0.4.1
comtypes==1.1.7
cx-Freeze==5.1.1
cycler==0.10.0
decorator==4.4.0
defusedxml==0.6.0
Django==2.2.3
dlib==19.8.1
docutils==0.15.2
entrypoints==0.3
face-recognition==1.2.3
face-recognition-models==0.3.0
Flask==1.1.1
Flask-Login==0.4.1
gast==0.2.2
google-api-core==1.14.2
google-auth==1.6.3
google-cloud-speech==1.2.0
google-pasta==0.1.7
googleapis-common-protos==1.6.0
grpcio==1.22.0
gunicorn==19.9.0
h5py==2.9.0
html5lib==0.9999999
idna==2.8
imageio==2.5.0
inflect==2.1.0
ipykernel==5.1.1
ipython==7.7.0
ipython-genutils==0.2.0
ipywidgets==7.5.0
isort==4.3.21
itsdangerous==1.1.0
jaraco.itertools==4.4.2
jedi==0.14.1
Jinja2==2.10.1
joblib==0.13.2
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.3.1
jupyter-console==6.0.0
jupyter-core==4.5.0
jupyterthemes==0.20.0
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Kivy==1.11.1
kivy-deps.glew==0.1.12
kivy-deps.sdl2==0.1.22
Kivy-Garden==0.1.4
kiwisolver==1.1.0
lazy-object-proxy==1.4.1
lesscpy==0.13.0
llvmlite==0.29.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
mistune==0.8.4
more-itertools==7.2.0
mpmath==1.1.0
nbconvert==5.5.0
nbformat==4.4.0
networkx==2.3
notebook==6.0.0
numba==0.45.1
numpy==1.16.4
opencv-python==4.1.0.25
pandas==0.25.0
pandocfilters==1.4.2
parso==0.5.1
pickleshare==0.7.5
Pillow==6.1.0
ply==3.11
pocketsphinx==0.1.15
prometheus-client==0.7.1
prompt-toolkit==2.0.9
protobuf==3.9.0
pyasn1==0.4.6
pyasn1-modules==0.2.6
PyAudio==0.2.11
Pygments==2.4.2
pyparsing==2.4.0
pypiwin32==223
PyQt5==5.11.3
PyQt5-sip==4.19.18
pyqt5-tools==5.11.3.1.4
pyrealsense2==2.24.0.965
pyrsistent==0.15.3
python-chess==0.28.2
python-dateutil==2.8.0
python-dotenv==0.10.3
pytz==2019.1
PyWavelets==1.0.3
pywin32==224
pywinpty==0.5.5
PyYAML==5.1.1
pyzmq==18.0.2
qtconsole==4.5.2
requests==2.22.0
rsa==4.0
scikit-image==0.15.0
scikit-learn==0.21.2
scipy==1.3.0
selectivesearch==0.4
Send2Trash==1.5.0
six==1.12.0
SpeechRecognition==3.8.1
sqlparse==0.3.0
sympy==1.4
tensorboard==1.8.0
tensorflow-estimator==1.14.0
tensorflow-gpu==1.8.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
tornado==6.0.3
tqdm==4.33.0
traitlets==4.3.2
typed-ast==1.4.0
uiautomator==0.3.6
urllib3==1.25.3
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.5
widgetsnbextension==3.5.0
wolframalpha==3.0.1
wrapt==1.11.2
xmltodict==0.12.0
