body{
    margin: 0%;
}

#main-body{
    margin: 0%;
    background-color: rgb(236, 233, 233);
}

#content-section{
    width: 60%;
    margin-left: 30%;
    padding-top: 40px;
    float: left;
}

#unique-post{
    margin-top: 0px;
    margin-bottom: 40px;
}

#post-head{
    padding-top: 8px;
    padding-left: 8px;
    width: 492px;
    height: 30px;
    border-radius: 8px 8px 0 0;
    background-color: white;
}

#post-head h3 {
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#post-image{
    min-width: 500px;
    min-height: 120px;
    max-width: 500px;
    max-height: 1000px;
}

#post-bottom{
    width: 484px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: white;
    border-radius: 0 0 8px 8px;
    word-wrap: break-word;
    overflow-x: visible;
}

#post-bottom p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

#date-time{
    font-size: 80%;
    font-family: 'Courier New', Courier, monospace;
    color: grey;
}

#sliding-menu-toggle{
    display: none;
}

#left-pane{
    color: aliceblue;
    float: left;
    position: fixed;
    background-color: rgb(74, 28, 180);
    width: 25%;
    height: 100%;
    padding-left: 1%;
    padding-top: 1%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 130%;
}

#sub-left-pane{
    position: absolute;
    height: 100%;
    width: 100%;
}

#welcome-text{
    font-size: 130%;
}

#group-chat{
    width: 80%;
    height: 40%;
    padding: 5%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 80%;
    background-color: rgba(240, 248, 255, 0.233);
    border-radius: 20px 20px 0px 0px;
    overflow-y: scroll;
}

#group-chat::-webkit-scrollbar {
    width: 3px;
}

#group-chat::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 15px;
}

#group-chat::-webkit-scrollbar-thumb {
  background-color: white;
  outline: none;
}

#group-chat-text-box-holder{
    width: 80%;
    height: 100%;
    background-color: rgba(20, 145, 255, 0.788);
    border-radius: 0px 0px 20px 20px;
    padding: 0 5% 0 5%;
    align-content: center;
}

#chat-text-box{
    border-radius: 20px 0px 0px 20px;
    height: 70%;
    width: 75%;
    margin-left: 3%;
    margin-top: 2%;
    border: none;
    outline: none;
    font-size: 110%;
    padding-left: 5%;
    float: left;
}

#chat-post-button{
    border-radius: 0px 20px 20px 0px;
    height: 70%;
    width: 20%;
    color: white;
    background-color: rgb(46, 230, 46);
    border: none;
    transition-duration: 0.2s;
    outline: none;
    float: left;
    margin-top: 2%;
    font-size: 30px;
}

#chat-post-button:active{
    background-color: rgb(32, 204, 32);
}

#fake-reloader{
    width: 100%;
    height: 7%;
    border: none;
    overflow: visible;
}

#add-post-button{
    height: 7%;
    width: 40%;
    border: none;
    outline: none;
    border-radius: 7px;
    color: aliceblue;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(30, 127, 218);
    transition-duration: 0.2s;
}

#add-post-button:active{
    background-color: rgb(47, 0, 255);
}

#logout-button{
    height: 5%;
    width: 40%;
    border: none;
    outline: none;
    border-radius: 7px;
    color: aliceblue;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(202, 8, 8);
    transition-duration: 0.2s
}

#logout-button:hover{
    background-color: red;
}

#my-modal-post{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 20%;
    left: 0%;
    top: 0%;
    min-width: 100%;
    min-height: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.548);
}

#my-modal-sub-post{
    margin: auto;
    display: block;
    width: 40%;
    padding: 40px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
  
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

@media (min-width: 320px) and (max-width: 480px) {
/*CSS for Mobiles*/
@keyframes slide {
    from {transform: scaleX(0)}
    to {transform: scaleX(1)}
}

@-webkit-keyframes slide {
    from {-webkit-transform: scaleX(0)}
    to {-webkit-transform: scaleX(1)}
}

@keyframes slide-reverse {
    from {transform: scaleX(1)}
    to {transform: scaleX(0)}
}

@-webkit-keyframes slide-reverse {
    from {-webkit-transform: scaleX(1)}
    to {-webkit-transform: scaleX(0)}
}

#content-section{
    margin-left: 7%;
}

#post-head{
    padding-left: 3%;
    width: 137%;
}

#post-image{
    min-width: 140%;
    max-width: 70%;
}

#post-bottom{
    width: 133%;
    padding-left: 3%;
    padding-right: 4%;
}

#left-pane{
    width: 96.5%;
    padding: 3.5%;
    -webkit-animation-name: slide;
    -webkit-animation-duration: 0.6s;
    animation-name: slide;
    animation-duration: 0.6s;
    animation-fill-mode: both;
    transform-origin: left;
    transition-timing-function: ease-out;
    display: none;
}

#sliding-menu-toggle{
    display: block;
    color: white;
    background-color: rgb(56, 119, 255);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    outline: none;
    border: none;
    position: fixed;
    font-size: 160%;
    transition-duration: 0.3s;
    bottom: 2%;
    left: 4%;
}

#sliding-menu-toggle:active{
    background-color: rgb(33, 88, 175);
}

#group-chat{
    font-size: 120%;
    height: 35%;
}

#chat-post-button{
    font-size: 110%;
}   

#add-post-button{
    font-size: 110%;
}

#logout-button{
    font-size: 110%;
}

}   
