<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/login-styles.css') }}">
        <title>MemerSala - Sign Up</title>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    </head>

    <body>
        <div id="login-info-container">
            <intro>Account Sign Up</intro>
            <form action="" method="post">
                <div id="signup-box">
                    <input id="uname-box" type="text" placeholder="Username" name="username" value="{{request.form.username}}" autocomplete="off">
                    <input id="pswrd-box" type="password" placeholder="Password" name="password0" value="{{request.form.password0}}">
                    <input id="pswrd-box" type="password" placeholder="Retype Password" name="password1" value="{{request.form.password1}}">
                </div>
                <input id="sign-in-button" type="submit" value="Sign Up">
            </form>

            <div id="err-msg">
                {% if error %}
                    {{error}}
                {% endif %}
            </div>
        </div>
    </body>
</html>